@import '../../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

$white:    #fff;
$grey:     #9d9d9d;
$darkgrey: #555;

body {margin-top: 70px;}

header {
  .langmenu {
    float: left;
    list-style: none;
    margin: 5px 20px 0 0;
    padding: 0;
    li {color: $darkgrey;}
    a {
      color: $grey;
      text-decoration: none;
      &:hover {color: $white;}
    }
  }
}

img.scale {
  display: block;
  height: auto;
  width: 100%;
}

.textmedia {
  .image {width: 33%;}

  &.image-right .image {
    float: right;
    margin: 0 0 10px 10px;
  }

  &.image-left .image {
    float: left;
    margin: 0 10px 10px 0;
  }
}

.gallery {
  font-size: 0;

  .image {
    width: 100%;

    @media (max-width: $screen-xs-min - 1) {
      &:not(:first-child) {display: none;}
    }

    @media (min-width: $screen-xs-min) {
      display: inline-block;
      margin-bottom: 2%;
      margin-right: 2%;
      width: 32%;
      &:nth-child(3n) {margin-right: 0;}
    }
  }
}

//Fancybox overwrite
#fancybox-loading div {background-image: url('../images/fancybox/fancybox_loading.gif');}
.fancybox-nav {background-image: url('../images/fancybox/blank.gif');}
.fancybox-overlay {background: url('../images/fancybox/fancybox_overlay.png');}
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {background-image: url('../images/fancybox/fancybox_sprite.png');}

.fancybox-lock .fancybox-overlay {overflow-y: hidden;}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading,
  .fancybox-close,
  .fancybox-prev span,
  .fancybox-next span {background-image: url('../images/fancybox/fancybox_sprite@2x.png');}
  #fancybox-loading div {background-image: url('../images/fancybox/fancybox_loading@2x.gif');}
}
